header h1 {
  font-size: 3.4rem;
}
.title {
  font-size: 3rem;
}
.img {
  width: 640px;
  height: 640px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.btn {
  font-size: 1.55rem;
  width: 220px;
  height: 54px;
}
.btn_remove {
  width: 248px;
  height: 58px;
  font-size: 1.55rem;
}
